
<link href="~/Content/mainpage.css" rel="stylesheet" />

<div class="container" id="transPage">
    <h2 style="font-family:'Monotype Corsiva'; font-size:30px;">TransactionsAction</h2>
    <div class="row">
        <div class="col-sm-10" id="box1">
            <div>
                <span>Person</span> : <select class="select"><option>--select--</option></select>
            </div>

            <div>
                <span>Account No</span> : <select class="select"><option>--select--</option></select>
            </div>

            <div>
                <span>Type</span> : <select class="select"><option>--select--</option></select>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-10" id="box2">
            <div>
                <span>Date</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input class="select" type="date" />
            </div>
      
            <div style="margin-left: 85px">
                <span>Amount</span> : <input class="select" type="number" />
            </div>
          
            <div>
                <button class="btn btn-primary" id="saveAccount">Save</button>
            </div>
        </div>
    </div>
  
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/accounts.js"></script>