
#home{
    height:100vh;
    margin-top:10px;
    border-radius:40px;
}

#navpage{
    background-color:black;
    color: white;
    font-size:30px;
    font-family:'Monotype Corsiva';
    font-weight:200;
    font-weight:bold;

}
.logo{
    margin-top: 15px;
    width:80px;
    height: 80px;
    border-radius: 40px;
}
