@{
    ViewBag.Title = "Home";
}

<link href="~/Content/emp.css" rel="stylesheet" />
<link href="~/Content/homepage.css" rel="stylesheet" />

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" integrity="sha512-SzlrxWUlpfuzQ+pcUCosxcglQRNAq/DZjVsC0lE40xsADsfeQoEypE+enwcOiGjk/bSuGGKHEyjSoQ1zVisanQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<div class="container" id="home">
    <a id="btnUser" href="@Url.Action("PersonAction", "Person")" class="btn btn-primary" style="width:120px; height:60px; text-align:center; font-size:20px;">User Page</a>
    @*<a href="@Url.Action("PersonAction", "Person")" class="btn btn-primary">User Page</a>*@

</div>


