@*
    @{
        ViewBag.Title = "ReportsAction";
    }
    <h2>ReportsAction</h2>
*@

<link href="~/Content/mainpage.css" rel="stylesheet" />

<div class="container" id="transPage">
    <h2 style="font-family:'Monotype Corsiva'; font-size:30px;">Specific Account statements.</h2>
    <div class="row">
        <div class="col-md-12" id="box1">
            <div>
                <span>Person</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; : <select id="txtKycid" class="select"><option>--select--</option></select>
            </div>

            <div style="margin-left:34px;">
                <span>Account No</span> : <select id="accNm" class="select"><option>--select--</option></select>
            </div>

            @*<div style="margin-left:10px;">
            <div style="margin-left:30px;">
                <span>Current Balance</span> : <input id="bal" class="select" type="text" readonly="readonly" />
            </div>
        </div>*@
            <div style="margin-left:15px;">
                <button class="btn btn-success" id="generate" onclick="generateStatement()">Generate</button>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12" id="box2">
            <div>
                <span>From Date</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: <input id="sdate" class="select" type="date" />
            </div> 
            
            <div style="margin-left:60px;">
                <span>To Date</span>&nbsp;: <input id="edate" class="select" type="date" />
            </div>

           @* <div style="margin-left:55px;">
                <span>Amount</span> : <input id="amount" class="select" type="number" />
            </div>*@

            @*<div style="margin-left:15px;">
                <button class="btn btn-success" id="generate" onclick="generateStatement()">Generate</button>
            </div>*@
        </div>

    </div>
    <div id="popupBox" class="popup">
        <p class="text-center"><img src="~/images/tick.jpg" style="height:40px; width:40px;" /></p>
        <p class="text-center">Transaction Done successfully.</p>
        <p class="text-center"><button class="btn btn-success" onclick="hidePopup()">Ok</button></p>
    </div>
    <div class="row">
        <div class="col-md-12" style="margin-top:10px; height:280px; overflow:auto; z-index:1;">
            <table class="table table-bordered table-striped table-responsive">
                <thead>
                    <tr>
                        <th>TransactionType</th>
                        <th>Transaction Date</th>
                        @*<th>Amount</th>*@
                        <th>Debit</th>
                        <th>Credit</th>
                        <th>Balance</th>
                    </tr>
                </thead>
                <tbody id="statementTbl"></tbody>
            </table>
        </div>
    </div>
</div>


<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="~/Scripts/reports.js"></script>


