
<link href="~/Content/emp.css" rel="stylesheet" />
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/Content/themes/base/minified/jquery-ui.min.css" rel="stylesheet" />
<link href="~/Content/jquery.jqGrid/ui.jqgrid.css" rel="stylesheet" />

@*<div class="container">*@
<div class="row" id="accountspage">
    <h3 style="font-family:'Monotype Corsiva';">Individuals Account Names</h3>

    <div class="col-md-3 accId" style="display:none;">
        Accounts Id
    </div>
    <div class="col-md-9 accId" style="display:none;">
        <input id="txtIdAcc" style="display:none;" placeholder="Accounts id" type="number" disabled />
    </div>

    <div class="col-md-3">
        Account Name
    </div>
    <div class="col-md-9">
        <input id="txtName" placeholder="account Name" type="text" />
    </div>

    <div class="col-md-3">
        KYCID
    </div>
    <div class="col-md-9">
        <select id="txtKyc">
            <option value="">--Select--</option>
        </select>
    </div>

    <div class="col-md-3">
        Active Status
    </div>
    <div class="col-md-9">
        <input id="txtActive" type="checkbox" />
    </div>

    <div class="col-md-12">
        <button id="addAcc" class="btn btn-primary" style="margin-left:240px; margin-bottom:5px;" onclick="addAccount()">Save</button>
        <button id="updateAccount" class="btn btn-success" onclick="updateAccount()" style="display: none; margin-bottom: 5px; margin-left: 240px;">update</button>
    </div>

    <div class="col-md-12" style="height:300px;">
        <table id="tbaccounts"></table>
        <table id="jpager"></table>
    </div>
</div>
@*</div>*@

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
<script src="~/Scripts/jqGrid/grid.locale-en.js"></script>
<script src="~/Scripts/accounts.js"></script>